:root {
  --primaryBlue: #2691d9;
  --primaryGray: #adadad;
}
* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(120deg, var(--primaryBlue), #8e44ad);
  height: 100vh;
  overflow: scroll;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 400px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.05);
  border-radius: 10px;
}
@media screen and (max-width: 420px) {
  .center {
    width: 80%;
    max-width: 300px;
  }
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  margin: 0 20px 20px 20px;
}
.center form {
  padding: 0 40px;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid var(--primaryGray);
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
  color: var(--primaryGray);
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  height: 2px;
  width: 0%;
  background: var(--primaryBlue);
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label,
.txt_field input:not([value=""]) ~ label {
  top: -5px;
  color: var(--primaryBlue);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before,
.txt_field input:not([value=""]) ~ span::before {
  width: 100%;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  background: var(--primaryBlue);
  border: 1px solid;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
input[type="submit"]:hover {
  border-color: var(--primaryBlue);
  transition: 0.5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: var(--primaryBlue);
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}
.espan {
  color: red;
}
