.aboutBg {
  background: white;
  height: 100vh;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading {
  color: rgb(14, 13, 34);
  font-size: 26px;
  text-align: center;
}
.underline {
  height: 04px;
  width: 20rem;
  background-color: darkblue;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-c-light {
  /* background-color: ivory; */
}
