:root {
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1rem;
  --primaryColor: #517bf0;
  --mainWhite: #fff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  margin-left: 70px;
  margin-right: 40px;
}
i {
  margin-left: 10px;
}
.btn-primary {
  margin-left: 130px;
  width: 100px;
}
.btn-black {
  margin-left: 2px;
}

img {
  box-sizing: border-box;
  padding: 50px;
  width: 380px;
  height: 350px;
}
.big {
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar a {
  margin-left: 30px;
}

.labs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.device {
  box-sizing: border-box;
  width: 400px;
  height: 500px;
  background: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userbtn:hover {
  border: 1px solid white;
}
.userbtn:hover ~ .box,
.userbtn:focus ~ .box,
.box:active {
  display: block;
}
.box {
  width: 120px;
  height: auto;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(73, 74, 78, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.6em;
  position: absolute;
  top: 3em;
  z-index: 1;
  display: none;
}
@media screen and (max-width: 991px) {
  .box {
    top: 16rem;
    left: 8rem;
  }
  .userbtn {
    margin-left: 50px;
    margin-top: 10px;
  }
}
.box::after {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: inherit;
  position: absolute;
  top: -10px;
  right: 1em;
}

.box:hover {
  background: lightgray;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: 4px;
  padding: 0 5px;
  border-radius: 30%;
  color: white;
}
@media screen and (max-width: 992px) {
  .cart-items {
    top: 10.3rem;
  }
}
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(226, 213, 201, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 180px;
  height: 150px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.remove-item {
  color: grey;
  cursor: pointer;
}
.showCart {
  visibility: visible;
}
.transferCart {
  transform: translateX(0);
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
.cart h2 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  text-align: center;
}
.detail {
  width: 60em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.493);
}
.n {
  width: 500px;
}

.btns {
  width: 80%;
  margin-left: 70px;
  margin-top: 5px;
}
.info1 {
  width: 100%;
  max-width: 500px;
  height: 300px;
  box-sizing: border-box;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px hsla(0, 0%, 56%, 0.2);
  border: 0;
  border-radius: 5px;
  line-height: 1.5em;
  opacity: 1;
  transition: all 0.5s;
  z-index: 1;
  display: none;
}
.show {
  display: block;
}
.btn-danger {
  margin-top: 50px;
  margin-left: 100px;
}
.lol img {
  width: 200px;
  height: 200px;
}
.btn-success {
  width: 80%;
}
.name {
  color: black;
  font-size: large;
  border-bottom: none;
  text-align: justify;
}
